<template>
<div class="login-form-container">
  <div class="login-form-body">
    <arrowBack></arrowBack>
    <div class="title">
      Вход
    </div>
    <div class="input-field-container">
      <label
        for="input-user-name">
        Адрес электронной почты
      </label>
      <b-form-input
        id="input-user-name"
        v-model="username"
        type="email"
        placeholder="">
      </b-form-input>
    </div>
    <div class="input-field-container">
      <label
        for="input-password">
        Пароль
      </label>
      <b-form-input
        id="input-password"
        v-model="password"
        type="password"
        placeholder="">
      </b-form-input>
    </div>
    <div
      v-show="isShowCaptcha"
      class="captcha-container">
      <vue-recaptcha
        @verify="onVerify"
        @expired="onExpired"
        sitekey="6LeOpcYUAAAAAD6xReS9tQKnrXEwxbd3AQKJZzfq">
      </vue-recaptcha>
    </div>
    <div class="input-field-container">
      <b-link @click="$router.push({name:'Forgot'})">Забыли пароль?</b-link>
    </div>
    <div class="buttons-container">
      <b-button
        id="signinButton"
        :disabled="canAuth"
        @click="signinHandler"
        variant="primary">
        Войти
      </b-button>
      <b-popover
        v-show="showPopover"
        :show="showPopover"
        :target="'signinButton'"
        :placement="'bottom'"
        title="Ошибка авторизации"
        :variant="'danger'"
        :content="getSigninMesage"></b-popover>
      <b-button
        @click="goToRegister"
        variant="primary">
        Создать аккаунт
      </b-button>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import VueRecaptcha from 'vue-recaptcha';
import validators from '../mixins/validators';
import arrowBack from '../components/arrow-back';

export default {
  mixins: [validators],
  name: 'Account',
  components: {
    arrowBack,
    VueRecaptcha,
  },
  props: {
    token: String,
  },
  computed: {
    showPopover() {
      setTimeout(() => this.clearSigninMessage(), 2000);
      return !!this.getSigninMesage;
    },
    canAuth() {
      return !(this.username
        && this.password);
    },
    ...mapGetters({
      getSigninMesage: 'getSigninMesage',
    }),
  },
  watch: {
    getSigninMesage: function watcher(newValue) {
      if (newValue) {
        this.isShowCaptcha = true;
      }
    },
    password: function watcher(newValue) {
      this.clearSigninMessage();
    },
    token: function watcher(newValue) {
      if (newValue) {
        this.checkValidationToken();
      }
    },
  },
  methods: {
    async signinHandler() {
      // (optional) Wait until recaptcha has been loaded.
      await this.$recaptchaLoaded();

      // Execute reCAPTCHA with action "login".
      const token = await this.$recaptcha('login');

      this.signin({
        email: this.username,
        password: this.password,
        recaptcha: token,
      });
      // Do stuff with the received token.
    },
    goToRegister() {
      this.$router.push({
        name: 'RegisterView',
      });
    },
    onVerify(event) {
      this.signin({
        email: this.username,
        password: this.password,
        recaptchav2: event,
      });
      this.$refs.recaptcha.reset();
    },
    onExpired(event) {
      console.log(event);
    },
    checkValidationToken() {
      this.checkToken({
        token: this.token,
      });
    },
    ...mapActions({
      checkToken: 'checkToken',
      signin: 'signin',
      clearSigninMessage: 'clearSigninMessage',
    }),
  },
  data() {
    return {
      username: '',
      password: '',
      isShowCaptcha: false,
    };
  },
  mounted() {
    if (this.token) {
      this.checkValidationToken();
    }
  },
};
</script>

<style scoped lang="scss">

  .login-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & .login-form-body {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 500px;
      padding: 35px 75px;
      background: white;
      & .title {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      & .input-field-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        & label {
          width: 100%;
          text-align: left;
          opacity: 0.4;
          margin-bottom: 0;
        }
      }
      & .captcha-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      & .buttons-container {
        display: flex;

        & > button {
          width: calc(50% - 10px);
          &:nth-child(2n+1) {
            margin-right: 10px;
          }
          &:nth-child(2n) {
            margin-left: 10px;
          }
        }
      }
    }
  }

</style>
