<template>
<div>
  Documents
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Documents',
  components: {},
  props: {},
  computed: {
    ...mapGetters([]),
  },
  methods: {
    ...mapActions([]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
