<template>
  <div class="reset-form-container">
    <div class="reset-form-body">
      <arrowBack></arrowBack>
      <div
        v-if="!send"
        class="title">
        Введите email для восстановления пароля
      </div>
      <div
        v-if="send"
        class="title">
        Восстановление пароля
      </div>
      <div
        v-if="!send"
        class="input-field-container">
        <label
          for="input-email">
          email
        </label>
        <b-form-input
          id="input-email"
          v-model="email"
          type="email"
          placeholder="example@mail.com">
        </b-form-input>
      </div>
      <label
        v-if="send">
        Если Ваш логин зарегистрирован в нашем сервисе, то мы уже отправили Вам письмо!
      </label>
      <div class="buttons-container">
        <b-button
          v-if="!send"
          :disabled="canAuth"
          @click="forgotHandler"
          variant="primary">
          Сменить пароль
        </b-button>
        <b-button
          v-if="send"
          @click="$router.push({ path: '/Account'})"
          variant="primary">
          Ок
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import validators from '../mixins/validators';
import arrowBack from '../components/arrow-back';

export default {
  name: 'Forgot',
  components: {
    arrowBack,
  },
  mixins: [validators],
  props: {
  },
  watch: {
    $route: function watcher(newVal) {
      if (newVal && newVal.query && newVal.query.send === 'true') {
        this.send = true;
      } else {
        this.send = false;
      }
    },
  },
  computed: {
    canAuth() {
      return !this.validateEmail(this.email);
    },
    ...mapGetters([]),
  },
  methods: {
    forgotHandler() {
      this.forgotPassword({
        email: this.email,
      });
    },
    ...mapActions({
      forgotPassword: 'forgotPassword',
    }),
  },
  mounted() {
    if (this.$route.query
      && this.$route.query.send
      && this.$route.query.send === 'true') {
      this.$router.push({
        path: '/Forgot',
      });
    }
  },
  data() {
    return {
      email: '',
      send: false,
    };
  },
};
</script>

<style scoped lang="scss">
  .reset-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & .reset-form-body {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 500px;
      padding: 35px 75px;
      background: white;
      & .title {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      & .input-field-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        & label {
          width: 100%;
          text-align: left;
          opacity: 0.4;
          margin-bottom: 0;
        }
      }
      & .buttons-container {
        display: flex;
        justify-content: center;

        & > button {
          width: calc(50% - 10px);
          &:nth-child(2n+1) {
            margin-right: 10px;
          }
          &:nth-child(2n) {
            margin-left: 10px;
          }
        }
      }
    }
  }
</style>
