<template>
<div class="goods-container">
  <b-tabs
    class="body"
    active-nav-item-class="font-weight-bold"
    @input="changeTabHandler"
  >
    <b-tab title="Ozon" :active="isOpenOzon">
      <IndexOzon v-if="isOpenOzon" :action="action" :id="id"></IndexOzon>
    </b-tab>
    <b-tab title="Wildberries" :active="isOpenWb">
      <IndexWb v-if="isOpenWb" :action="action" :id="id"></IndexWb>
    </b-tab>
  </b-tabs>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import IndexOzon from '../components/goods/ozon/Index';
import IndexWb from '../components/goods/wb/Index';

export default {
  name: 'Goods',
  components: {
    IndexOzon,
    IndexWb,
  },
  props: {
    section: String,
    action: String,
    id: String,
  },
  computed: {
    isOpenOzon() {
      return this.section === 'Ozon';
    },
    isOpenWb() {
      return this.section === 'Wildberries';
    },
    ...mapGetters([]),
  },
  methods: {
    changeTabHandler($event) {
      if ($event === 0 && !this.isOpenOzon) {
        this.$router.push({
          path: '/Goods/Ozon',
        });
      } else if ($event === 1 && !this.isOpenWb) {
        this.$router.push({
          path: '/Goods/Wildberries',
        });
      }
    },
    ...mapActions([]),
  },
  data() {
    return {
      currentWindow: '',
    };
  },
  mounted() {
    if (!this.isOpenOzon && !this.isOpenWb) {
      this.$router.push({
        path: '/Goods/Ozon',
      });
    }
  },
};
</script>

<style lang="scss">
  @import "../styles/index";

  .goods-container {
    @extend %flexColumn;
    height: 100%;
    position: relative;

    & .body {
      max-height: 100%;
      top: 0;
      bottom: 0;
      overflow: hidden;
      position: relative;

      & .nav.nav-tabs {
      }
      & .tab-content {
        height: 100%;
        margin-top: 0;

        & .tab-pane.active {
          height: 100%;
        }
      }
      height: 100%;
    }
  }
</style>
