<template>
<div>
  <b-button
    @click="refreshTokenHandler"
    variant="primary">
    Обновить токен
  </b-button>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Home',
  components: {},
  props: {},
  computed: {
    ...mapGetters({
      getRefreshToken: 'getRefreshToken',
    }),
  },
  methods: {
    refreshTokenHandler() {
      this.refreshToken({
        headers: {
          Authorization: this.getRefreshToken,
        },
      });
    },
    ...mapActions({
      refreshToken: 'refreshToken',
    }),
  },
  data() {
    return {};
  },
  mounted() {},
};
</script>

<style scoped lang="scss">

</style>
