<template>
<div class="main-component-container">
  <b-navbar
    v-if="isShowNavBar"
    toggleable="lg" type="transparent" variant="transparent">
    <b-navbar-nav>
      <b-nav-item>
        <router-link to="/Home">Аналитика</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/Documents">Документы</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/Goods">Товары</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/Profile">Мой профиль</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/About">О нас</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/Contacts">Контакты</router-link>
      </b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto" right>
      <b-nav-item>
        <router-link to="/Account" class="big-link">Войти</router-link>
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
  <div class="main-component-body">
    <router-view/>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'MainComponent',
  components: {},
  props: {},
  watch: {
    $route: function watcher(newVal) {
      this.setShowingNavBar(newVal);
    },
  },
  computed: {
    ...mapGetters({
      getIsShowSpinner: 'getIsShowSpinner',
    }),
  },
  methods: {
    setShowingNavBar(newVal) {
      this.isShowNavBar = newVal.name !== 'Login'
        && newVal.name !== 'RegisterView'
        && newVal.name !== 'Forgot';
    },
    ...mapActions([]),
  },
  data() {
    return {
      isShowNavBar: true,
    };
  },
  mounted() {
    this.setShowingNavBar(this.$route);
  },
};
</script>

<style scoped lang="scss">
  .main-component-container {
    height: 100%;
    width: 100%;
    padding: 50px 65px 0;
    overflow: hidden;
    background: url('/static/assets/background.png') no-repeat;
    background-size: cover;
    & .main-component-body {
      height: 100%;
      width: 100%;
    }
  }
</style>
