<template>
<div class="profile-container">
  <div
    v-if="isRoot"
    class="root-profile-container">
    <b-button
      @click="$router.push({ path: '/Profile/Organizations' })"
      size="lg"
      variant="primary">
      Юридические лица
    </b-button>
  </div>
  <Organizations
    v-if="isOrganizations">
  </Organizations>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Organizations from '../components/profile/organizations';

export default {
  name: 'Profile',
  components: {
    Organizations,
  },
  props: {},
  computed: {
    isRoot() {
      return this.$route.path === '/Profile';
    },
    isOrganizations() {
      return this.$route.path === '/Profile/Organizations';
    },
    ...mapGetters([]),
  },
  methods: {
    ...mapActions([]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../styles/index";

  .profile-container {
    height: 100%;
    width: 100%;

    & .root-profile-container {

    }
  }
</style>
