<template>
<div class="register-form-container">
  <div class="register-form-body">
    <arrowBack></arrowBack>
    <div
      v-if="!send" class="title">
      Регистрация
    </div>
    <div
      v-if="send" class="title">
      Аккаунт создан
    </div>
    <div
      v-if="!send"
      class="input-field-container">
      <label
        for="input-user-name">
        Адрес электронной почты
      </label>
      <b-form-input
        id="input-user-name"
        v-model="username"
        type="email"
        placeholder="">
      </b-form-input>
    </div>
    <div
      v-if="!send"
      class="input-field-container">
      <label
        for="input-password">
        Пароль
      </label>
      <b-form-input
        id="input-password"
        v-model="password"
        type="password"
        placeholder="">
      </b-form-input>
    </div>
    <div
      v-if="send"
      class="input-field-container">
      Ссылка для подтверждения отправлена на {{username}}.
    </div>
    <div
      v-if="!send"
      class="input-field-container">
      <label
        for="input-retryPassword">
        Повторите пароль
      </label>
      <b-form-input
        id="input-retryPassword"
        v-model="retryPassword"
        type="password"
        placeholder="">
      </b-form-input>
    </div>
    <div
      v-if="!send"
      class="captcha-container">
      <vue-recaptcha
        ref="recaptcha"
        @verify="onVerify"
        @expired="onExpired"
        sitekey="6LeOpcYUAAAAAD6xReS9tQKnrXEwxbd3AQKJZzfq">
      </vue-recaptcha>
    </div>
    <div class="buttons-container">
      <b-button
        v-if="!send"
        id="registerButton"
        :disabled="canRegister"
        @click="signupHandler"
        variant="primary">
        Зарегистрироваться
      </b-button>
      <b-popover
        v-if="isShowToolTip"
        :show="isShowToolTip"
        :target="'registerButton'"
        :placement="'bottom'"
        title="Ошибка"
        variant="warning"
        :content="messageForTooltip"
      ></b-popover>
      <b-button
        v-if="send"
        @click="$router.push({path: '/Home'})"
        variant="primary">
        Ок
      </b-button>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import VueRecaptcha from 'vue-recaptcha';
import validators from '../mixins/validators';
import arrowBack from '../components/arrow-back';

export default {
  mixins: [validators],
  name: 'Register',
  components: {
    arrowBack,
    VueRecaptcha,
  },
  props: {},
  watch: {
    $route: function watcher(newVal) {
      if (newVal && newVal.query && newVal.query.send === 'true') {
        this.send = true;
      } else {
        this.send = false;
      }
    },
  },
  computed: {
    canRegister() {
      return !(this.validateEmail(this.username)
       && this.validatePassword(this.password)
       && this.validatePassword(this.retryPassword))
        && this.recaptchav2;
    },
    isShowToolTip() {
      return this.differentPasswords || this.passwordTooEasy || this.wrongEmail;
    },
    differentPasswords() {
      return this.password !== ''
        && this.retryPassword !== ''
        && this.password !== this.retryPassword;
    },
    passwordTooEasy() {
      return this.password !== '' && !this.validatePassword(this.password);
    },
    wrongEmail() {
      return this.username !== '' && !this.validateEmail(this.username);
    },
    messageForTooltip() {
      let message = '';
      if (this.wrongEmail) {
        message = 'Введен некорректный email';
      } else if (this.passwordTooEasy) {
        message = 'Пароль слишком простой. Он должен содержать не менее 8 латинскиз символов и 1 цифру';
      } else if (this.differentPasswords) {
        message = 'Пароли не совпадают';
      }
      return message;
    },
    ...mapGetters([]),
  },
  methods: {
    signupHandler() {
      this.signup({
        password: this.password,
        username: this.username,
        acceptAgreement: this.acceptAgreement,
        recaptchav2: this.token,
      });
      this.token = '';
      this.$refs.recaptcha.reset();
    },
    onVerify(event) {
      this.token = event;
    },
    onExpired() {
      this.token = null;
    },
    ...mapActions({
      signup: 'signup',
    }),
  },
  mounted() {
    if (this.$route.query
      && this.$route.query.send
      && this.$route.query.send === 'true') {
      this.$router.push({
        path: '/Register',
      });
    }
  },
  data() {
    return {
      password: '',
      username: '',
      retryPassword: '',
      acceptAgreement: true,
      send: false,
      token: null,
    };
  },
};
</script>

<style scoped lang="scss">
  .register-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & .register-form-body {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 500px;
      padding: 35px 75px;
      background: white;
      & .title {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      & .input-field-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        & label {
          width: 100%;
          text-align: left;
          opacity: 0.4;
          margin-bottom: 0;
        }
      }
      & .captcha-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      & .buttons-container {
        display: flex;

        & > button {
          width: 100%;
        }
      }
    }
  }
</style>
