<template>
  <div class="reset-form-container">
    <div class="reset-form-body">
      <div class="title">
        Восстановление пароля
      </div>
      <div class="input-field-container">
        <label
          for="input-password">
          Новый пароль
        </label>
        <b-form-input
          id="input-password"
          v-model="password"
          type="password"
          placeholder="">
        </b-form-input>
      </div>
      <div class="input-field-container">
        <label
          for="input-confirm-password">
          Повтор нового пароля
        </label>
        <b-form-input
          id="input-confirm-password"
          v-model="confirmPassword"
          type="password"
          placeholder="">
        </b-form-input>
      </div>
      <div class="buttons-container">
        <b-button
          id="applyChangesButton"
          :disabled="canResetPassword"
          @click="resetPasswordHandler"
          variant="primary">
          Сохранить изменения
        </b-button>
        <b-popover
          v-if="differentPasswords"
          :show="differentPasswords"
          :target="'applyChangesButton'"
          :placement="'bottom'"
          title="Пароли не совпадают"
          variant="warning"
          :content="'Введенные вами пароли не совпадают'"
        ></b-popover>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import validators from '../mixins/validators';

export default {
  mixins: [validators],
  name: 'Reset',
  components: {},
  props: {
    token: String,
  },
  computed: {
    canResetPassword() {
      return !(this.validatePassword(this.password)
        && this.validatePassword(this.confirmPassword)
        && this.confirmPassword === this.password);
    },
    differentPasswords() {
      return this.password !== ''
        && this.confirmPassword !== ''
        && this.password !== this.confirmPassword;
    },
    ...mapGetters([]),
  },
  methods: {
    resetPasswordHandler() {
      this.resetPassword({
        password: this.password,
        resetPasswordToken: this.token,
      });
    },
    ...mapActions({
      resetPassword: 'resetPassword',
    }),
  },
  data() {
    return {
      password: '',
      confirmPassword: '',
    };
  },
};
</script>

<style scoped lang="scss">
  .reset-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & .reset-form-body {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 500px;
      padding: 35px 75px;
      background: white;
      & .title {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      & .input-field-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        & label {
          width: 100%;
          text-align: left;
          opacity: 0.4;
          margin-bottom: 0;
        }
      }
      & .buttons-container {
        display: flex;
        justify-content: center;

        & > button {
          &:nth-child(2n+1) {
            margin-right: 10px;
          }
          &:nth-child(2n) {
            margin-left: 10px;
          }
        }
      }
    }
  }
</style>
