<template>
	<div class="create-good-container">
    <div class="title">
      <arrowBack></arrowBack> Создание товара
    </div>
    <div class="fields-container">
      <b-row
        :key="index"
        v-for="(field, index) in fields"
        class="field-container">
        <b-col sm="2">
          <label :for="field.fieldName">{{index}}. {{field.label}}</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            @input="inputFieldHandler(field.fieldName, $event)"
            :id="field.fieldName" size="sm"></b-form-input>
        </b-col>
      </b-row>
    </div>
    <div class="footer-button-container">
      <b-button
        :disabled="!goodReady"
        @click="createGoodHandler"
        variant="primary">Создать</b-button>
    </div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import arrowBack from '../../arrow-back';

export default {
  name: 'Create',
  components: {
    arrowBack,
  },
  props: {},
  computed: {
    goodReady() {
      return this.newObject.brand
      && this.newObject.type
      && this.newObject.id_wb
      && this.newObject.chrt_id_niu
      && this.newObject.id_supps
      && this.newObject.id_supps_short_niu
      && this.newObject.color
      && this.newObject.size
      && this.newObject.barcode;
    },
    ...mapGetters([]),
  },
  methods: {
    inputFieldHandler(fieldName, value) {
      this.newObject[fieldName] = value;
    },
    createGoodHandler() {
      this.createOzonGood(this.newObject);
    },
    ...mapActions({
      createOzonGood: 'createOzonGood',
    }),
  },
  data() {
    return {
      newObject: {
        brand: null,
        type: null,
        id_wb: null,
        chrt_id_niu: null,
        id_supps: null,
        id_supps_short_niu: null,
        color: null,
        size: null,
        barcode: null,
      },
      fields: [{
        label: 'Бренд товара',
        type: 'text',
        fieldName: 'brand',
      }, {
        label: 'Тип товара',
        type: 'text',
        fieldName: 'type',
      }, {
        label: 'Артикул WB',
        type: 'text',
        fieldName: 'id_wb',
      }, {
        label: 'Рандомная херня',
        type: 'text',
        fieldName: 'chrt_id_niu',
      }, {
        label: 'Артикул поставщика',
        type: 'text',
        fieldName: 'id_supps',
      }, {
        label: 'Укороченная версия артикула поставщика (Артикул ИМТ)',
        type: 'text',
        fieldName: 'id_supps_short_niu',
      }, {
        label: 'Код цвета/цвет',
        type: 'text',
        fieldName: 'color',
      }, {
        label: 'Размер',
        type: 'text',
        fieldName: 'size',
      }, {
        label: 'Баркод',
        type: 'text',
        fieldName: 'barcode',
      }],
    };
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";
</style>
