<template>
  <div class="subcontainer-goods">
    <div class="header">
      <b-button
        v-if="action==='Filter'"
        @click="addNewHandler"
        variant="success">
        Добавить товар вручную
      </b-button>
      <b-file
        @input="handleInputFile"
        accept=".csv, .xlsx"
        :placeholder="'Импорт товаров'"
        class="inputFile"
        v-if="action==='Filter'"
        ref="fileImport">
      </b-file>
      <b-button
        v-if="action==='View'"
        variant="success">Начать редактирование</b-button>
    </div>
    <div class="body">
      <filterWb v-if="action==='Filter'">
      </filterWb>
      <ViewWb :id="id" v-else-if="action==='View'">
      </ViewWb>
      <CreateWb v-else-if="action==='Create'">
      </CreateWb>
      <EditWb :id="id" v-else-if="action==='Edit'">
      </EditWb>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import filterWb from './filter';
import ViewWb from './View';
import CreateWb from './Create';
import EditWb from './Edit';

export default {
  name: 'Index',
  components: {
    filterWb,
    EditWb,
    CreateWb,
    ViewWb,
  },
  props: {
    action: String,
    id: String,
  },
  computed: {
    ...mapGetters([]),
  },
  methods: {
    handleInputFile(file) {
      if(file) {
        this.importFromXSLX({
          file,
        });
        this.$refs.fileImport.reset();
      }
    },
    addNewHandler() {
      this.$router.push({
        path: '/Goods/Wildberries/Create',
      });
    },
    ...mapActions([
      'importFromXSLX',
    ]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";
</style>
