@import "styles";

.create-good-container {
  @extend %flexColumn;
  max-height: 100%;
  width: 100%;

  & .title {
    position: relative;
    padding: 15px 50px;
    font-size: 1.5rem;
    text-align: left;
  }

  & .fields-container {
    @extend %flexColumn;
    margin: 20px 30px;

    & .field-container {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      & label {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  & .footer-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
    & button {
      margin-left: 10px;
    }
  }
}
