.navbar {
  padding: 0;
}

.nav-link {
  & a {
    color: rgba(255,255,255,0.8);
    &.big-link {
      font-size: 1.2rem;
    }
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}
@media (min-width: 640px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
