.popover {
  &.b-popover-danger {
    background-color: white;
    & .popover-header {
      background-color: white;
      border-bottom: none;
    }
    & .popover-body {
      color: black;
    }
  }
}
