%flexColumn {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
}


.inputFile {
  display: flex;
  width: 160px;
  margin-left: 10px;
  & input {
    display: none;
  }
  & label {
    display: flex;
    cursor: pointer;
    background-color: #28a745;
    overflow: hidden;
    color: white;
    &::after {
      display: none;
    }
  }
}

.table {
  & th{

  }
  & td{
  }
}
