.subcontainer-goods {
  width: 100%;
  max-height: 100%;
  @extend %flexColumn;
  background-color: white;
  position: relative;

  & .header {
    position: absolute;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    right: 10px;
    top: 10px;
    z-index: 2;

    & button {
      margin-left: 10px;
    }
  }

  & .body {

  }
}
