<template>
<div class="organization-creator-container">
  <div class="creator-header">
    Создание организации
    <b-button
      v-show="!!selectedOrganizationType"
      :disabled="!canCreate"
      @click="createOrganizationHandler"
      variant="primary">
      Создать
    </b-button>
  </div>
  <div class="organization-type">
    <b-row
      class="field-container">
      <b-col sm="3">
        <label for="orgType">Тип организации</label>
      </b-col>
      <b-col sm="9">
        <b-form-select
          id="orgType"
          @input="changeTypeOrganization"
          v-model="selectedOrganizationType"
          :options="organizationType"></b-form-select>
      </b-col>
    </b-row>
  </div>
  <div
    v-if="isShowFields"
    class="organization-fields">
    <b-row
      :key="index"
      v-for="(field, index) in fieldsCurrentOrganizations"
      class="field-container">
      <b-col sm="3">
        <label :for="field.fieldName">{{field.label}}</label>
      </b-col>
      <b-col sm="9">
        <b-form-input
          :type="field.type"
          :value="''"
          :placeholder="field.placeholder"
          @input="inputFieldHandler(field.fieldName, $event)"
          :id="field.fieldName" size="sm"></b-form-input>
      </b-col>
    </b-row>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'create',
  components: {},
  props: {},
  computed: {
    fieldsCurrentOrganizations() {
      if (this.selectedOrganizationType === 'ip') {
        return JSON.parse(JSON.stringify(this.ipFields));
      } if (this.selectedOrganizationType === 'ooo') {
        return JSON.parse(JSON.stringify(this.oooFields));
      }
      return [];
    },
    ...mapGetters([]),
  },
  methods: {
    validateObject(newObject, selectedOrganizationType) {
      if (selectedOrganizationType === 'ip') {
        return newObject.inn
          && newObject.lname
          && newObject.fname
          && newObject.mname
          && newObject.index
          && newObject.regionCode
          && newObject.street
          && newObject.building
          && newObject.block
          && newObject.flat
          && newObject.phoneNumber
          && newObject.email
          && newObject.bankAccount
          && newObject.bankName
          && newObject.bankCorAccount
          && newObject.RCBIC;
      } if (selectedOrganizationType === 'ooo') {
        return newObject.inn
          && newObject.name
          && newObject.nameEntity
          && newObject.kpp
          && newObject.index
          && newObject.regionCode
          && newObject.street
          && newObject.building
          && newObject.block
          && newObject.flat
          && newObject.phoneNumber
          && newObject.email
          && newObject.bankAccount
          && newObject.bankName
          && newObject.bankCorAccount
          && newObject.RCBIC;
      }
      return false;
    },
    changeTypeOrganization(event) {
      this.isShowFields = false;
      this.newObject = this[`${event}Object`];
      this.canCreate = false;
      setTimeout(() => this.isShowFields = true, 0);
    },
    createOrganizationHandler() {
      this.$emit('create', {
        type: this.selectedOrganizationType,
        value: JSON.parse(JSON.stringify(this.newObject)),
      });
    },
    inputFieldHandler(fieldName, value) {
      this.newObject[fieldName] = value;
      this.canCreate = this.validateObject(this.newObject, this.selectedOrganizationType);
    },
    ...mapActions([]),
  },
  data() {
    return {
      isShowFields: true,
      canCreate: false,
      newObject: {},
      ipObject: {
        inn: null,
        lname: null,
        fname: null,
        mname: null,
        index: null,
        regionCode: null,
        street: null,
        building: null,
        block: null,
        flat: null,
        phoneNumber: null,
        email: null,
        bankAccount: null,
        bankName: null,
        bankCorAccount: null,
        RCBIC: null,
      },
      oooObject: {
        name: null,
        nameEntity: null,
        inn: null,
        kpp: null,
        index: null,
        regionCode: null,
        street: null,
        building: null,
        block: null,
        flat: null,
        phoneNumber: null,
        email: null,
        bankAccount: null,
        bankName: null,
        bankCorAccount: null,
        RCBIC: null,
      },
      oooFields: [{
        label: 'Название записи',
        type: 'text',
        fieldName: 'name',
        required: true,
        placeholder: 'Компания1 (короткое название)',
      }, {
        label: 'Название Юр. лица',
        type: 'text',
        fieldName: 'nameEntity',
        required: true,
        placeholder: 'ООО "Хорошие люди"',
      }, {
        label: 'ИНН',
        type: 'text',
        fieldName: 'inn',
        required: true,
        placeholder: '1234567890',
      }, {
        label: 'КПП',
        type: 'text',
        fieldName: 'kpp',
        required: true,
        placeholder: '987654321',
      }, {
        label: 'Индекс',
        type: 'text',
        fieldName: 'index',
        required: true,
        placeholder: '112233',
      }, {
        label: 'Код региона',
        type: 'text',
        fieldName: 'regionCode',
        required: true,
        placeholder: '77',
      }, {
        label: 'Улица',
        type: 'text',
        fieldName: 'street',
        required: true,
        placeholder: 'Тверская',
      }, {
        label: 'Номер дома',
        type: 'text',
        fieldName: 'building',
        required: true,
        placeholder: '10',
      }, {
        label: 'Корпус',
        type: 'text',
        fieldName: 'block',
        required: false,
        placeholder: '987654321',
      }, {
        label: 'Номер офиса',
        type: 'text',
        fieldName: 'flat',
        required: true,
        placeholder: '135',
      }, {
        label: 'Номер телефона',
        type: 'text',
        fieldName: 'phoneNumber',
        required: true,
        placeholder: '+7(903)456-12-34',
      }, {
        label: 'Электронная почта',
        type: 'text',
        fieldName: 'email',
        required: true,
        placeholder: 'best@mail.ru',
      }, {
        label: 'Номер банковского счета',
        type: 'text',
        fieldName: 'bankAccount',
        required: true,
        placeholder: '12345678900987654321',
      }, {
        label: 'Наименование банка',
        type: 'text',
        fieldName: 'bankName',
        required: true,
        placeholder: 'ПАО СБЕРБАНК',
      }, {
        label: 'Корреспондентский счет в банке',
        type: 'text',
        fieldName: 'bankCorAccount',
        required: true,
        placeholder: '12345678900987654321',
      }, {
        label: 'БИК организации',
        type: 'text',
        fieldName: 'RCBIC',
        required: true,
        placeholder: '987654321',
      }],
      ipFields: [{
        label: 'Название записи',
        type: 'text',
        fieldName: 'name',
        required: true,
        placeholder: 'ИП1',
      }, {
        label: 'ИНН',
        type: 'text',
        fieldName: 'inn',
        required: true,
        placeholder: '123456789123',
      }, {
        label: 'Имя',
        type: 'text',
        fieldName: 'lname',
        required: true,
        placeholder: 'Илон',
      }, {
        label: 'Фамилия',
        type: 'text',
        fieldName: 'fname',
        required: true,
        placeholder: 'Маск',
      }, {
        label: 'Отчество',
        type: 'text',
        fieldName: 'mname',
        required: false,
        placeholder: 'Иванович',
      }, {
        label: 'Индекс',
        type: 'text',
        fieldName: 'index',
        required: false,
        placeholder: '112233',
      }, {
        label: 'Код региона',
        type: 'text',
        fieldName: 'regionCode',
        required: true,
        placeholder: '77',
      }, {
        label: 'Улица',
        type: 'text',
        fieldName: 'street',
        required: true,
        placeholder: 'Тверская',
      }, {
        label: 'Номер дома',
        type: 'text',
        fieldName: 'building',
        required: true,
        placeholder: '10',
      }, {
        label: 'Корпус',
        type: 'text',
        fieldName: 'block',
        required: false,
        placeholder: '',
      }, {
        label: 'Номер офиса',
        type: 'text',
        fieldName: 'flat',
        required: true,
        placeholder: '135',
      }, {
        label: 'Номер телефона',
        type: 'text',
        fieldName: 'phoneNumber',
        required: true,
        placeholder: '+7(903)456-12-34',
      }, {
        label: 'Электронная почта',
        type: 'text',
        fieldName: 'email',
        required: true,
        placeholder: 'best@mail.ru',
      }, {
        label: 'Номер банковского счета',
        type: 'text',
        fieldName: 'bankAccount',
        required: true,
        placeholder: '12345678900987654321',
      }, {
        label: 'Наименование банка',
        type: 'text',
        fieldName: 'bankName',
        required: true,
        placeholder: 'ПАО СБЕРБАНК',
      }, {
        label: 'Корреспондентский счет в банке',
        type: 'text',
        fieldName: 'bankCorAccount',
        required: true,
        placeholder: '12345678900987654321',
      }, {
        label: 'БИК организации',
        type: 'text',
        fieldName: 'RCBIC',
        required: true,
        placeholder: '987654321',
      }],
      selectedOrganizationType: false,
      organizationType: [{
        text: 'ИП',
        value: 'ip',
      }, {
        text: 'ООО',
        value: 'ooo',
      }],
    };
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";

  .organization-creator-container {
    height: 100%;
    width: 100%;
    @extend %flexColumn;
    position: relative;

    & .creator-header {
      font-size: 18px;
      text-align: left;
      display: flex;
      justify-content: space-between;
    }
    & .organization-type {
      margin: 20px 0;
      @extend %flexColumn;
      border-bottom: 1px solid lightgray;
      & .field-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        & .col-sm-2 {
          display: flex;
          justify-content: flex-start;
          text-align: left;
        }
      }
    }
    & .organization-fields {
      @extend %flexColumn;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 10px;
      margin-bottom: 20px;


      & .field-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        & .col-sm-3 {
          display: flex;
          justify-content: flex-start;
          text-align: left;
        }
      }
    }
  }
</style>
