<template>
	<div class="create-good-container">
    <div class="title">
      <arrowBack></arrowBack> Создание товара
    </div>
    <div class="fields-container">
      <b-row
        :key="index"
        v-for="(field, index) in fields"
        class="field-container">
        <b-col sm="2">
          <label :for="field.fieldName">{{index}}. {{field.label}}</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            @input="inputFieldHandler(field.fieldName, $event)"
            :id="field.fieldName" size="sm"></b-form-input>
        </b-col>
      </b-row>
    </div>
    <div class="footer-button-container">
      <b-button
        :disabled="!goodReady"
        @click="createGoodHandler"
        variant="primary">Создать</b-button>
    </div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import arrowBack from '../../arrow-back';

export default {
  name: 'Create',
  components: {
    arrowBack,
  },
  props: {},
  computed: {
    goodReady() {
      return this.newObject.id_supps
      && this.newObject.ozon_prod_id
      && this.newObject.fbo_sku_id
      && this.newObject.fbs_sku_id
      && this.newObject.crossborder_sku
      && this.newObject.prod_name
      && this.newObject.barcode
      && this.newObject.prod_status
      && this.newObject.visible;
    },
    ...mapGetters([]),
  },
  methods: {
    inputFieldHandler(fieldName, value) {
      this.newObject[fieldName] = value;
    },
    createGoodHandler() {
      this.createOzonGood(this.newObject);
    },
    ...mapActions({
      createOzonGood: 'createOzonGood',
    }),
  },
  data() {
    return {
      newObject: {
        id_supps: null,
        ozon_prod_id: null,
        fbo_sku_id: null,
        fbs_sku_id: null,
        crossborder_sku: null,
        prod_name: null,
        barcode: null,
        prod_status: null,
        visible: null,
      },
      fields: [{
        label: 'Артикул поставщика',
        type: 'text',
        fieldName: 'id_supps',
      }, {
        label: 'Код товара OZON',
        type: 'text',
        fieldName: 'ozon_prod_id',
      }, {
        label: 'ХЗ fbo_sku_id',
        type: 'text',
        fieldName: 'fbo_sku_id',
      }, {
        label: 'ХЗ fbs_sku_id',
        type: 'text',
        fieldName: 'fbs_sku_id',
      }, {
        label: 'СКЮ Международный',
        type: 'text',
        fieldName: 'crossborder_sku',
      }, {
        label: 'Наименование товара',
        type: 'text',
        fieldName: 'prod_name',
      }, {
        label: 'Баркод',
        type: 'text',
        fieldName: 'barcode',
      }, {
        label: 'Статус товара',
        type: 'text',
        fieldName: 'prod_status',
      }, {
        label: 'Видимость на сайте',
        type: 'text',
        fieldName: 'visible',
      }],
    };
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";
</style>
