<template>
<div class="filter-good-container">
  <div class="title">
    Просмотр списка товаров Ozon
  </div>
  <div
    class="table-container">
    <b-table
      striped
      hover
      @row-clicked="rowClickHandler"
      :fields="fields"
      :items="items">
    </b-table>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'filter',
  components: {},
  props: {},
  computed: {
    filterParameters() {
      return {};
    },
    ...mapGetters({
      items: 'getOzonFiltered',
    }),
  },
  beforeRouteEnter() {
    this.filter(this.filterParameters);
  },
  methods: {
    rowClickHandler(item) {
      this.$router.push({
        path: `/Goods/Ozon/View/${item.id}`,
      });
    },
    ...mapActions({
      filter: 'filterOzon',
    }),
  },
  data() {
    return {
      fields: [{
        key: 'id_wb',
        label: 'Номенклатура',
      }, {
        key: 'barcode',
        label: 'Баркод',
      }, {
        key: 'brand',
        label: 'Бренд',
      }, {
        key: 'type',
        label: 'Тип',
      }, {
        key: 'color',
        label: 'Цвет',
      }, {
        key: 'size',
        label: 'Размер',
      }, {
        key: 'id_supps',
        label: 'Артикул поставщика',
      }, {
        key: 'EDIT',
        label: ' ',
      }],
    };
  },
  mounted() {
    this.filter(this.filterParameters);
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";

  .filter-good-container {
    @extend %flexColumn;
    max-height: 100%;
    width: 100%;

    & .title {
      position: relative;
      padding: 15px 50px;
      font-size: 1.5rem;
      text-align: left;
    }


    & .table-container {
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      max-height: 700px;
    }
  }
</style>
