<template>
<div class="subcontainer-goods">
  <div class="header">
    <b-button
      v-if="action==='Filter'"
      @click="addNewHandler"
      variant="success">
      Добавить товар вручную
    </b-button>
    <b-file
      @input="handleInputFile"
      accept=".csv, .xlsx"
      :placeholder="'Импорт товаров'"
      class="inputFile"
      v-if="action==='Filter'"
      ref="fileImport">
    </b-file>
    <b-button
      v-if="action==='View'"
      variant="success">Начать редактирование</b-button>
  </div>
  <div class="body">
    <filterOzon v-if="action==='Filter'">
    </filterOzon>
    <ViewOzon :id="id" v-else-if="action==='View'">
    </ViewOzon>
    <CreateOzon v-else-if="action==='Create'">
    </CreateOzon>
    <EditOzon :id="id" v-else-if="action==='Edit'">
    </EditOzon>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import filterOzon from './filter';
import ViewOzon from './View';
import CreateOzon from './Create';
import EditOzon from './Edit';

export default {
  name: 'Index',
  components: {
    filterOzon,
    EditOzon,
    CreateOzon,
    ViewOzon,
  },
  props: {
    action: String,
    id: String,
  },
  computed: {
    ...mapGetters([]),
  },
  methods: {
    handleInputFile(file) {
      if(file) {
        this.importFromXSLX({
          file,
        });
        this.$refs.fileImport.reset();
      }
    },
    addNewHandler() {
      this.$router.push({
        path: '/Goods/Ozon/Create',
      });
    },
    ...mapActions([
      'importFromXSLX',
    ]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";


</style>
