<template>

  <div class="create-good-container">
    <div class="title">
      <arrowBack></arrowBack> Просмотр товара
    </div>
		View
	</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import arrowBack from '../../arrow-back';

export default {
  name: 'View',
  components: {
    arrowBack,
  },
  props: {},
  computed: {
    ...mapGetters([]),
  },
  methods: {
    ...mapActions([]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../../../styles/index";
</style>
