<template>
  <div id="app">
    <div
      v-if="getIsShowSpinner"
      class="spinner-container">
      <b-spinner
        variant="primary"
      ></b-spinner>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'App',
  watch: {
    getToast(toast) {
      if (toast
        && toast.label
        && toast.title
        && toast.variant) {
        this.$bvToast.toast(toast.label, {
          title: toast.title,
          autoHideDelay: 5000,
          appendToast: false,
          variant: toast.variant,
          toaster: 'b-toaster-top-center',
        });
        this.clearToast();
      }
    },
  },
  computed: {
    ...mapGetters({
      getIsShowSpinner: 'getIsShowSpinner',
      getToast: 'getToast',
    }),
  },
  methods: {
    ...mapActions({
      clearToast: 'clearToast',
    }),
  },
};
</script>

<style lang="scss">
  @import "./styles/index";
  @import "~bootstrap/scss/bootstrap";
  @import '~bootstrap-vue/src/index.scss';
  @import "./styles/index";

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  html, body, #app {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #app {
    & .spinner-container {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
</style>
