<template>
<div class="organization-container">
  <div class="organization-small-info-container">
    <div class="organization-header">
      <b-button
        :disabled="isAddNewOrganization"
        @click="startCreateNewOrganization"
        variant="primary">
        Добавить
      </b-button>
    </div>
  </div>
  <div class="organization-full-info-container">
    <create
      v-if="isAddNewOrganization"
      @create="createOrganizationHandler">
    </create>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import create from './organizations/create';

export default {
  name: 'organizations',
  components: {
    create,
  },
  props: {},
  computed: {
    ...mapGetters([]),
  },
  methods: {
    createOrganizationHandler(value) {
      this.isAddNewOrganization = false;
      this.createOrganization(value);
    },
    startCreateNewOrganization() {
      this.isAddNewOrganization = true;
    },
    ...mapActions({
      createOrganization: 'createOrganization',
      filterOrganization: 'filterOrganization',
    }),
  },
  mounted() {
    this.filterOrganization();
  },
  data() {
    return {
      isAddNewOrganization: false,
    };
  },
};
</script>

<style scoped lang="scss">
  @import "../../styles/index";

  .organization-container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 20px;
    background-color: $white;
    position: relative;

    & .organization-small-info-container {
      padding: 30px 0;
      @extend %flexColumn;
      width: 20%;
      border-right: 1px solid lightgray;
      & .organization-header {
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
      }
    }

    & .organization-full-info-container {
      width: 80%;
      padding: 20px;
    }
  }

</style>
