<template>
	<img
    @click="$router.go(-1)"
    src="/static/assets/left-arrow.png"
    class="arrow-back-container"/>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'arrow-back',
  components: {},
  props: {},
  computed: {
    ...mapGetters([]),
  },
  methods: {
    ...mapActions([]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .arrow-back-container {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 25px;
    cursor: pointer;
  }

</style>
